<h1>Fwitter</h1>
<h2>Welcome, <%= current_user.username %></h2>
<h3><a href="/tweets/new"> Write a new tweet </a> |
<a href="/logout">Logout</a></h3>

<ul>
  <% @tweets.each do |tweet| %>
    <li><a href="/tweets/<%= tweet.id %>"> <%= tweet.content %></a></li>
  <% end %>
</ul>
